extends ../../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/index.css')
    link(rel='stylesheet', href='/meritbuilders/css/account/properties.css')
block append head-script
    script. 
        var u = !{JSON.stringify(user)};
block content
    .content-wrapper
        if(typeof(user) !== 'undefined')
            h1 PROPERTIES
            .dark-matter
                #properties
                    input(type='hidden', name='url', value='#{url}')
                    input(type='hidden', name='id-employee', value='#{user.idEmployee}')
                    h1 USER
                    p
                        label 
                            span NAME
                            input(type="text" name="name" value="#{user.name}")
                        label 
                            span E-MAIL
                            if(user.email !== null)
                                input(type="text" name="email" value="#{user.email}") 
                            else
                                input(type="text" name="email") 
                        label 
                            | E-MAIL AS USERNAME
                            if (user.name === user.email)
                                input(type="checkbox" name="email-username" checked) 
                            else
                                input(type="checkbox" name="email-username" ) 
                    h1 PASSWORD
                    p
                        label 
                            span NEW
                            input(type="password" name="password-new" ) 
                        label(name='password-message')
                        label 
                            span CONFIRM
                            input(type="password" name="password-confirm" )
                        label 
                            span
                            button(name='properties-save' class='button') SAVE
                            button(href='/employee/#{user.idEmployee}' name='properties-cancel' class='button' onclick="window.history.back();") CANCEL
block append body-script 
    script(type='text/javascript', src='/meritbuilders/js/properties.js')  
        