extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/file.css')

block content
    .content-wrapper
        nav
            ul  
                li  
                    a(href='/document', class='button')= 'DOCUMENT'
                li 
                    a(href='/video', class='button')= 'VIDEO'   
                li 
                    a(href='/audio', class='button')= 'AUDIO'   
                li 
                    a(href='/image', class='button')= 'IMAGE'   
                li 
                    a(href='/file', class='button')= 'ALL'   
        
        if typeof(fileList) !== 'undefined'
            .table
                if fileList.length > 0
                    table(class='sortable')
                        tr
                            thead
                                th
                                    | Name
                                th
                                    | Type
                                th
                                    | Date Added

                        each file, i in fileList
                            tr
                                td
                                    if(typeof(idContractor) !== 'undefined')
                                        a(href='/contractor/#{idContractor}/file/#{file.idFile}/view') #{file.label} 
                                    else
                                        a(href='/file/#{file.idFile}/view') #{file.label} 
                                        
                                    if typeof(type) !== 'undefined'
                                        if type === 'video'
                                            video(width="852", height="480", controls="controls")
                                                source(src='#{file.path}#{file.name}.#{file.extension}' type="video/#{file.extension}")
                                                object(data="",width="852", height="480")
                                                    embed(width="852", height="480",src='#{file.path}#{file.name}.#{file.extension}')
                                        else if type === 'image'
                                        else if type === 'audio'
                                    
                                td
                                    |#{file.extension}

                                td 
                                    |#{file.addDate}
                else
                    p Empty
block append body-script
    script(type='text/javascript', src='/meritbuilders/js/employee.js')      
    script(type='text/javascript', src='/kryogenix/js/sorttable.js') 