extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/index.css')

block content
    .content-wrapper
        if(typeof(employee) !== 'undefined')
            div#account-identification
                h2 #{employee.name}
                if(typeof(image) !== 'undefined')
                    img(src="data:image/jpeg;base64,#{image}",id="account-image")
            nav
                ul 
                    li
                        a(href='/employee/#{employee.idEmployee}/properties', class='button')= 'EDIT'
                    li  
                        a(href='/employee/#{employee.idEmployee}/training', class='button')= 'TRAINING'
                    li  
                        a(href='/element', class='button')= 'ELEMENTS'
                    li 
                        a(href='/employee/#{employee.idEmployee}/record', class='button')= 'RECORD'
        else if(typeof(contractor) !== 'undefined')
            div#account-identification
                h2 #{contractor.name}
            div#account-navigation
                ul
                    li
                        a(href='/document',class='button')= 'DOCUMENTS'
                    
