extends ../theme
block append head-script
    link(rel='stylesheet', href='/meritbuilders/css/account/project.css')
block content
    .content-wrapper
        -var scriptProjectList = null;
        -var scriptProject = null;
        if(typeof(projectList) !== 'undefined')
            -scriptProjectList = projectList;
            if (typeof(generalManager) !== 'undefined') && generalManager
                .content-nav
                    nav
                        ul
                            li
                               input(type="button", class="button", id='add-procedure', value="ADD PROCEDURE")
                            li
                               a(href="/parser", class="button", id='parser', value="PARSER") PARSER
                .project-procedure.hidden
                    input(type="button", class="button", id='hide-procedure', value="HIDE PROCEDURE")
                    .apply
                        input(type='hidden', name='url', value='#{url}')
                        ul
                            li
                                label Employee
                                select#employee-select
                                    option(value='0') None
                                    each employee, i in employeeList
                                        option(value="#{employee.idEmployee}") #{employee.name}
                            li
                                label Read
                                input(type='radio', name='employee-permission', value='1')
                            li
                                label Write
                                input(type='radio', name='employee-permission', value='2', checked)
                            li
                                label Procedure
                                - if(typeof(procedureList) !== 'undefined') {
                                    select#procedure-select
                                        each procedure, i in procedureList
                                            if(procedure.userProcedureType === 'project')
                                                option(value="#{procedure.idProcedure}") #{procedure.name}

                                    each procedure in procedureList
                                        input(type='hidden', name='idprocedure', value="#{procedure.idProcedure}")
                                - }
                        ul
                            li
                                label Select All
                                input(type='checkbox', name='project-select-all', checked=false)
                            li
                                label Hidden
                                input(type='radio', name='project-permission', value='0', checked)
                            li
                                label Read
                                input(type='radio', name='project-permission', value='1')
                            li
                                label Write
                                input(type='radio', name='project-permission', value='2')
                        input(type="button", class="button", id='apply-procedure', value="APPLY")
            .list
                if projectList.length > 0
                    ul
                        each project, i in projectList
                            li(id="project" ,class="project")
                                table
                                    tr
                                        td.select.hidden
                                            if typeof(generalManager) !== "undefined"
                                                input(type='checkbox', name='project-select', value='#{project.idProject}')
                                                input(type='hidden', name='#{project.idProject}-project-name', value='#{project.name}')
                                        td
                                            a(href='/project/#{project.idProject}') #{project.name}
                                                h1(id="count", name="#{project.idProject}-h1")
                                        td
                                            | #{project.number}

                                        td
                                            if project.createDateLabel !== null
                                                | #{project.createDateLabel}
                                        td
                                            if project.startDateLabel !== null
                                                | #{project.startDateLabel}
                                        td
                                            if project.activityDateLabel !== null
                                                | #{project.activityDateLabel}
                                        td
                                            if project.completeDateLabel !== null
                                                | #{project.completeDateLabel}


                else
                    p Project Not found
        else if(typeof(project) !== 'undefined')
            -scriptProject = project;
            h3 #{project.name}
            .list
                ul
                    li(id="project" ,class="project")
                      table
                        tr
                          td
                            a(href='/project/#{project.idProject}/procedure') Procedure
                    li(id="project" ,class="project")
                      table
                        tr
                          td
                            a(href='/project/#{project.idProject}/building') Unit
                    if(typeof(generalManager) !== 'undefined' && generalManager && false)
                        li
                            a(href='/project/#{project.idProject}/employee') Employee
        else
            p Empty
block append body-script
    script.
        var project;
        var projectList;
        if(typeof scriptProject !== undefined){
            project = !{JSON.stringify(scriptProject)};
        }

        if(typeof scriptProjectList  !== undefined){
            projectList = !{JSON.stringify(scriptProjectList)};
        }
    script(type='text/javascript', src='/meritbuilders/js/project.js').
