extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/record.css')
block content
    .content-wrapper
        nav
            ul
                if typeof(contentMenu) !== 'undefined'
                    -var selected = 'home';
                    each val, key in contentMenu
                        li
                            if selected === key
                                a.button.selected(href=val, title=key)= key
                            else
                                a.button(href=val, title=key)= key
        h1 RECORD
        if(typeof(recordList) !== 'undefined')
          .table
            if(recordList.length > 0)
              table(class='sortable')
                  thead
                      tr
                          th.select.hidden SELECT
                          th NAME
                          th ID
                          th LEVEL

                          th SKILL
                          th EXPERIENCE
                          th KNOWLEDGE
                          th INSPECTIONS
                          th SESSIONS
                          th TESTS
                  tbody
                      each element, i in recordList
                          tr(style='background-color:#{element.hexCode}; color:white;')
                              td
                                  a(href="/element/#{element.idElement}") #{element.name}
                              td
                                  | #{element.id}
                              td
                                  | #{element.level}


                              td
                                if(element.skill >= element.rate)
                                  span(style='color:green;background-color:white;') (#{element.skill}/1)/(#{element.rate}/1)
                                else
                                  span(style='color:red;background-color:white;') (#{element.skill}/1)/(#{element.rate}/1)
                              td
                                if(element.time == 0)
                                  | NA
                                else
                                  if(element.experience >= element.time)
                                    span(style='color:green;background-color:white;') #{element.experience}/#{element.time} Hour(s)
                                  else
                                    span(style='color:red;background-color:white;') #{element.experience}/#{element.time} Hour(s)
                              td
                                if(element.average == 0)
                                  | NA
                                else
                                  if(element.knowledge >= element.average)
                                    span(style='color:green;background-color:white;') (#{element.knowledge} %)/(#{element.average} %)
                                  else
                                    span(style='color:red;background-color:white;') (#{element.knowledge} %)/(#{element.average} %)

                              td
                                  | #{element.inspection}
                              td
                                  | #{element.session}
                              td
                                  | #{element.test}
