extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/record.css')
block content
    .content-wrapper
        h1 RECORD
        h2 COMING SOON
        if(typeof(recordList) !== 'undefined')
          h1 RECORD
          .table
            each record, r in recordList
              tr
                td
                  #{record.label}

        if(typeof(user) !== 'undefined')

          if(typeof(employee) !== 'undefined')
            div.employee-identification
                h2 #{employee.name}
                if(typeof(image) !== 'undefined')
                    img(src="data:image/jpeg;base64,#{image}", class="employee-image")
                if(typeof(statisticList) !== 'undefined')
                    -var count = 0;
                    -var sum = 0;
                    -var score = 0;
                    if(statisticList.length >0)
                        table
                            each statistic, s in statisticList
                                -count+=1;
                                -sum+=statistic.average
                                tr
                                    td

                                        p #{statistic.statement}
                                    td
                                        p #{statistic.average}

                            tr
                                td
                                    p Score
                                td
                                    -score=(sum/count).toFixed(1);
                                    p  #{score}
