extends ../theme
block append head-script
    link(rel='stylesheet', href='/meritbuilders/css/account/building.css')
block content
    #content-wrapper
        if(typeof(buildingList) !== 'undefined')
            div#building-list
                if buildingList.length > 0
                    if (typeof(generalManager) !== 'undefined') && generalManager
                    
                    ul
                        each building, i in buildingList
                            li  
                                table
                                    tr
                                        td
                                            if manager
                                                input(type='checkbox', name='buildingselect', value='#{building.idProject}')
                                                input(type='hidden', name='#{building.idProject}-building-name', value='#{building.name}')
                                        td
                                            a(href='/project/#{building.idProject}/building/#{building.idBuilding}') #{building.name}
                else
                    p Building Not Found
        else if(typeof(building) !== 'undefined')
            div#building-list
                h3 #{building.name}
block append body-script
    script(type='text/javascript', src='/meritbuilders/js/building.js'). 