extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/contractor.css')

block content    
    #content-wrapper
        if(typeof(contractorList) !== 'undefined')
            div#contractor-list
                if contractorList.length > 0
                    if typeof(generalManager) !== "undefined" 
                        input(type="radio",name="option",value="procedure",checked=true)
                        div#contractor-procedure.visible
                            h2 Procedure
                            table
                                tr
                                    td
                                        input(type='hidden', name='url', value='#{url}')
                                        select#contractor 
                                            option(value='0') None
                                            each contractor, i in contractorList
                                                option(value="#{contractor.idContractor}") #{contractor.name}
                                        label Read
                                        input(type='radio', name='contractorpermission', value='1')
                                        label Write
                                        input(type='radio', name='contractorpermission', value='2', checked)
                                        - if(typeof(procedureList) !== 'undefined') {
                                            select#procedureSelect
                                                each procedure, i in procedureList
                                                    if(procedure.type === 'contractor')
                                                        option(value="#{procedure.idProcedure}") #{procedure.name}

                                            each procedure in procedureList
                                                input(type='hidden', name='idprocedure', value="#{procedure.idProcedure}")
                                        - }
                                tr
                                    td
                                        label Select All
                                        input(type='checkbox', name='contractorselectall', checked=false)
                                        label Hidden
                                        input(type='radio', name='permission', value='0', checked)
                                        label Read
                                        input(type='radio', name='permission', value='1')
                                        label Write
                                        input(type='radio', name='permission', value='2')
                                        input(type="button", class="button", id='apply-procedure', value="Apply")
                    table(class='sortable')
                        thead
                            tr
                                th Select
                                th Name
                                th Role
                        each contractor, i in contractorList
                            -var style;
                            if(contractor.role !== null)
                                if (contractor.role).indexOf('worker') > -1
                                    -style='background-color: white';
                                if (contractor.role).indexOf('supervisor') > -1
                                    -style='background-color: red';
                                if (contractor.role).indexOf('mentor') > -1
                                    -style='background-color: blue';
                                if (contractor.role).indexOf('training-manager') > -1
                                    -style='background-color: lightblue';
                                if (contractor.role).indexOf('safety-manager') > -1
                                    -style='background-color: green';
                                if (contractor.role).indexOf('quality-manager') > -1
                                    -style='background-color: orange';
                                if (contractor.role).indexOf('general-manager') > -1
                                    -style='background-color: yellow';
                            tr(style=style)
                                td  
                                    if typeof(generalManager) !== "undefined"
                                        input(type='checkbox', name='contractorselect', value='#{contractor.idContractor}')
                                        input(type='hidden', name='contractor#{contractor.idContractor}', value='#{contractor.name}')
                                td        
                                    a(href='/contractor/#{contractor.idContractor}') #{contractor.name}
                                    h1(id="count", name="#{contractor.idContractor}-h1")
                                td        
                                    a(href='/contractor/#{contractor.idContractor}') #{contractor.role}
                else    
                    p No contractors found
        else if(typeof(contractor) !== 'undefined')         
            div#contractor-identification
                h2 #{contractor.name}
                if(typeof(image) !== 'undefined')
                    img(src="data:image/jpeg;base64,#{image}", id="contractor-image")      
                if(typeof(statisticList) !== 'undefined')
                    -var count = 0;
                    -var sum = 0;
                    -var score = 0;
                    if(statisticList.length >0)
                        table
                            each statistic, s in statisticList
                                -count+=1;
                                -sum+=statistic.average
                                tr
                                    td

                                        p #{statistic.statement}
                                    td  
                                        p #{statistic.average}

                            tr  
                                td
                                    p Score
                                td
                                    -score=(sum/count).toFixed(1);
                                    p  #{score}
            div#contractor-navigation
                nav
                    ul  
                        li  
                            a(href='/contractor/#{contractor.idContractor}/procedure', class='button')= 'EMPLOYEE PROCEDURES'

                        li 
                            a(href='/contractor/#{contractor.idContractor}/session', class='button')= 'EMPLOYEE SESSIONS'   
        else
            div#list
                p Not Authorized
block body-script
    script(type='text/javascript', src='/meritbuilders/js/contractor.js')      
    script(type='text/javascript', src='/kryogenix/js/sorttable.js')  