extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/employee.css')

block content
    .content-wrapper
        if(typeof(employeeList) !== 'undefined')
            if typeof(generalManager) !== "undefined" && generalManager
                nav.no-print
                    ul
                        li
                           input(type="button", class="button", id='procedure', value="PROCEDURE")
                        li
                           input(type="button", class="button", id='messanger', value="MESSANGER")
                        li
                          input(type="button", class="button", id='training', value="TRAINING")
                div.employee-training.hidden
                    input(type="button", class="button", id='hide-procedure', value="HIDE TRAINING")
                div.employee-messanger.hidden
                    input(type="button", class="button", id='hide-procedure', value="HIDE MESSANGER")
                    input(type='hidden', name='url', value='#{url}')
                    ul
                        li
                          label Select All
                          input(type='checkbox', name='employee-b-select-all', checked=false)
                        li
                          label Role
                          select#employee-a-select
                              option(value='0') None
                              option(value="1") General Manager
                     form(name="message-form",id='message-form', method="post")
                        textarea(name="message", cols="64", rows="5")
                        nav
                          ul
                            li
                              input(type="button", class="button", id='test', title='send test message', class='tooltip', value="TEST")
                            li
                              input(type="button", class="button", id='send', title='send live message', class='tooltip',value="SEND")
                div.employee-procedure.hidden
                    input(type="button", class="button", id='hide-procedure', value="HIDE PROCEDURE")
                    .apply

                        input(type='hidden', name='url', value='#{url}')
                        ul
                            li
                                label Employee
                                - if(typeof(employeeList) !== 'undefined') {
                                    select#employee-a-select
                                        option(value='0') None
                                        each employee, i in employeeList
                                            option(value="#{employee.idEmployee}") #{employee.name}
                                 - }
                            li
                                label Read
                                input(type='radio', name='employee-a-permission', value='1')
                            li
                                label Write
                                input(type='radio', name='employee-a-permission', value='2', checked)
                            li
                                label Execute
                                input(type='radio', name='employee-a-permission', value='3')
                            li
                                label Procedure
                                - if(typeof(procedureList) !== 'undefined') {
                                    select#procedure-select
                                        each procedure, i in procedureList
                                            if(procedure.userProcedureType === 'employee')
                                                option(value="#{procedure.idProcedure}") #{procedure.name}

                                    each procedure in procedureList
                                        input(type='hidden', name='idprocedure', value="#{procedure.idProcedure}")
                                - }
                        ul
                            li
                                label Select All
                                input(type='checkbox', name='employee-b-select-all', checked=false)
                            li
                                label Hidden
                                input(type='radio', name='employee-b-permission', value='0', checked)
                            li
                                label Read
                                input(type='radio', name='employee-b-permission', value='1')
                            li
                                label Write
                                input(type='radio', name='employee-b-permission', value='2')
                        input(type="button", class="button", id='apply-procedure', value="APPLY")
            .table
                if employeeList.length > 0
                    -function prettyDate(dateString){
                        //if it's already a date object and not a string you don't need this line:
                        -var date = new Date(dateString);
                        -var d = date.getDate();
                        -var m = date.getMonth()+1;
                        -var y = date.getFullYear();
                        -return y+'/'+m+'/'+d;
                    -}
                    table(id="employee-table", class='tablesorter')
                        thead
                            tr
                                th.select.hidden SELECT
                                th NAME
                                th ROLE
                                th HIRE DATE
                        tbody
                          each employee, i in employeeList
                              -var id;
                              if(employee.role !== null)
                                  if (employee.role).indexOf('worker') > -1
                                      -id='worker';
                                  if (employee.role).indexOf('supervisor') > -1
                                      -id='supervisor';
                                  if (employee.role).indexOf('mentor') > -1
                                      -id='mentor';
                                  if (employee.role).indexOf('training-manager') > -1
                                      -id='training-manager';
                                  if (employee.role).indexOf('safety-manager') > -1
                                      -id='safety-manager';
                                  if (employee.role).indexOf('quality-manager') > -1
                                      -id='quality-manager';
                                  if (employee.role).indexOf('general-manager') > -1
                                      -id='general-manager';
                                  if (employee.role).indexOf('mechanic') > -1
                                      -id='mechanic';
                              
                                  tr
                                      td.select.hidden
                                          if typeof(generalManager) !== "undefined"
                                              input(type='checkbox', name='employee-b-select', value='#{employee.idEmployee}')
                                              input(type='hidden', name='employee-#{employee.idEmployee}', value='#{employee.name}')
                                      td
                                          a(href='/employee/#{employee.idEmployee}') #{employee.name}
                                          if employee.nickName !== null
                                              |  (#{employee.nickName})
                                          h1(id="count", name="#{employee.idEmployee}-h1")
                                      td(id="#{id}")
                                          a(href='/employee/#{employee.idEmployee}') #{employee.role}
                                      td
                                          if employee.hireDate !== '0000-00-00 00:00:00'
                                              a(href='/employee/#{employee.idEmployee}') #{prettyDate(employee.hireDate)}
                                          else
                                              p -
                else
                    p No employees found
        else if(typeof(employee) !== 'undefined')
            div.employee-identification
                h2 #{employee.name}
                if(typeof(image) !== 'undefined')
                    img(src="data:image/jpeg;base64,#{image}", class="employee-image")
                if(typeof(statisticList) !== 'undefined')
                    -var count = 0;
                    -var sum = 0;
                    -var score = 0;
                    if(statisticList.length >0)
                        table
                            each statistic, s in statisticList
                                -count+=1;
                                -sum+=statistic.average
                                tr
                                    td

                                        p #{statistic.statement}
                                    td
                                        p #{statistic.average}

                            tr
                                td
                                    p Score
                                td
                                    -score=(sum/count).toFixed(1);
                                    p  #{score}

            nav
                ul
                  if typeof(employeeMenu) !== 'undefined'
                      -var selected = 'home';
                      each val, key in employeeMenu
                          li
                              if selected === key
                                  a.button.selected(href=val, title=key)= key
                              else
                                  a.button(href=val, title=key)= key


        else
            div#list
                p Not Authorized
block append body-script
    script(type="text/javascript", src="/tablesorter-master/js/jquery.tablesorter.js")
    script(type='text/javascript', src='/meritbuilders/js/employee.js')
