extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/element.css')
    
block content  
    #content-wrapper
        if(typeof(queue) !== 'undefined')
            h1 #{queue.name}
            if(typeof(queue.procedureList) !== 'undefined')
                div#project-list
                    if queue.procedureList.length > 0
                        ul
                            each procedure, i in queue.procedureList
                                li
                                    br
                                    | #{procedure.name} 
                    else
                        p Empty
        else if(typeof(queueList) !== 'undefined')
            if queueList.length > 0
                ul
                    each queue, i in queueList
                        li
                            a(href='/queue/#{queue.idQueue}',style=procedureStyle) #{queue.name}
            


