extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/training.css')

block content
    div(style='background-color: #{level.hexCode};height:2em;width:100%;')
    .content-wrapper
      nav
          ul
              if typeof(contentMenu) !== 'undefined'
                  -var selected = 'home';
                  each val, key in contentMenu
                      li
                          if selected === key
                              a.button.selected(href=val, title=key)= key
                          else
                              a.button(href=val, title=key)= key
      #white
      #gray
      #orange
      #green
      #blue
      #brown
      #training-introduction
          img(width='200', height='200', src='/meritbuilders/img/TrainingProgramLogo.png')
          p Merit Builders provides Metal Building Assembly training as required by applicable regulations and standards. Safety and quality are further reinforced and encouraged by providing opportunities for additional training .
          p To support employee training, Merit Builders is providing new tools and incentives for improvement in safety and quality.
          video(width="852", height="480", controls="controls")
              source(src='/meritbuilders/vid/brand.mp4' type="video/mp4")
              object(data="",width="852", height="480")
                  embed(width="852", height="480",src='/meritbuilders/vid/brand.mp4')

          p We would like to invite all employees to participate.
          p Press START to begin level one.
          input(type="hidden", name="url", value="#{training.url}")
          input(type="hidden", name="id-employee", value="#{training.idEmployee}")
          input(type="button", class="button", id='start', value="START")
      #training-main

block append body-script
    script(type='text/javascript', src='/meritbuilders/js/training.js')
