extends ../theme

block append head-link
    link(rel='stylesheet', href='/meritbuilders/css/account/video.css')

block content
    #video-content
        if typeof(videoList) !== 'undefined'
            #video-list
                each video, i in videoList
                    video(width="852", height="480", controls="controls")
                        source(src='#{video.path}#{video.name}.#{video.extension}' type="video/#{video.extension}")
                        object(data="",width="852", height="480")
                            embed(width="852", height="480",src='#{video.path}#{video.name}.#{video.extension}')
        else if typeof(video) !== 'undefined'
            video(width="852", height="480", controls="controls")
                source(src='#{video.path}#{video.name}.#{video.extension}' type="video/#{video.extension}")
                object(data="",width="852", height="480")
                    embed(width="852", height="480",src='#{video.path}#{video.name}.#{video.extension}')
block append body-script
    script(type='text/javascript', src='/meritbuilders/js/video.js')